{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    
<head>
    <link rel="stylesheet" href='{% static "css_register/style.css" %}'>
	<!-- LINEARICONS -->
	<link rel="stylesheet" href='{% static "fonts_register/linearicons/style.css" %}'>
		
	<!-- STYLE CSS -->
	<link rel="stylesheet" href='{% static "css_register/style.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/LineIcons.3.0.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/tiny-slider.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/glightbox.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/main.css" %}'>
</head>
		<div class="wrapper">
			<div class="inner">
				<img src="images/image-1.png" alt="" class="image-1">
				<form action="">
					<h3>Nueva cuenta</h3>
                    <span class="lnr lnr-user"></span>
					<div class="form-holder">

						<input type="text" class="form-control" placeholder="Usuario">
					</div>
                    <span class="lnr lnr-phone-handset"></span>
					<div class="form-holder">

						<input type="text" class="form-control" placeholder="Teléfono">
					</div>
                    <span class="lnr lnr-envelope"></span>
					<div class="form-holder">
						<input type="text" class="form-control" placeholder="Mail">
					</div>
                    <span class="lnr lnr-lock"></span>
					<div class="form-holder">

						<input type="password" class="form-control" placeholder="Password">
					</div>
                    <span class="lnr lnr-lock"></span>
					<div class="form-holder">

						<input type="password" class="form-control" placeholder="Confirm Password">
					</div>
					<button>
						<span>Registrarse</span>
					</button>
				</form>
				<img src="images/image-2.png" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src='{% static "js_register/jquery-3.3.1.min.js" %}'></script>
		<script src='{% static "js_register/main.js" %}'></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
    {% endblock %}
